<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVehiculosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVehiculosLabel_id}" for="id" />
                    <h:inputText id="id" value="#{vehiculosController.selected.id}" title="#{bundle.EditVehiculosTitle_id}" required="true" requiredMessage="#{bundle.EditVehiculosRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditVehiculosLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{vehiculosController.selected.tipo}" title="#{bundle.EditVehiculosTitle_tipo}" />
                    <h:outputLabel value="#{bundle.EditVehiculosLabel_placa}" for="placa" />
                    <h:inputText id="placa" value="#{vehiculosController.selected.placa}" title="#{bundle.EditVehiculosTitle_placa}" />
                    <h:outputLabel value="#{bundle.EditVehiculosLabel_estacion}" for="estacion" />
                    <h:inputText id="estacion" value="#{vehiculosController.selected.estacion}" title="#{bundle.EditVehiculosTitle_estacion}" />
                    <h:outputLabel value="#{bundle.EditVehiculosLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{vehiculosController.selected.estado}" title="#{bundle.EditVehiculosTitle_estado}" />
                </h:panelGrid>
                <h:commandLink action="#{vehiculosController.update}" value="#{bundle.EditVehiculosSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVehiculosViewLink}"/>
                <br />
                <h:commandLink action="#{vehiculosController.prepareList}" value="#{bundle.EditVehiculosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVehiculosIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
