<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVehiculosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVehiculosEmpty}" rendered="#{vehiculosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{vehiculosController.items.rowCount > 0}">
                    <h:outputText value="#{vehiculosController.pagination.pageFirstItem + 1}..#{vehiculosController.pagination.pageLastItem + 1}/#{vehiculosController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{vehiculosController.previous}" value="#{bundle.Previous} #{vehiculosController.pagination.pageSize}" rendered="#{vehiculosController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{vehiculosController.next}" value="#{bundle.Next} #{vehiculosController.pagination.pageSize}" rendered="#{vehiculosController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{vehiculosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculosTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculosTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculosTitle_placa}"/>
                            </f:facet>
                            <h:outputText value="#{item.placa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculosTitle_estacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.estacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculosTitle_estado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{vehiculosController.prepareView}" value="#{bundle.ListVehiculosViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vehiculosController.prepareEdit}" value="#{bundle.ListVehiculosEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vehiculosController.destroy}" value="#{bundle.ListVehiculosDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{vehiculosController.prepareCreate}" value="#{bundle.ListVehiculosCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVehiculosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
